.main-wrapper{
    display: flex;
    justify-content: center;
    align-items : center;
    height: 500px;

}

.wrapper{
    width: 500px;
    background-color: aliceblue;
    text-align: center;
    margin: 0px auto;
    padding:10px;
    box-shadow: 5px 7px 8px 3px seagreen;
}

.wrapper:hover{
    box-shadow: 5px 7px 6px 7px seagreen;

}

h1{
    font-size: 45px;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 15px;
    display:table;
    margin:20px auto;
    padding: 10px;
}

h1:hover{
    box-shadow: 2px 2px 4px 5px seagreen;
}

.quotes-wrapper{
    animation-name: quoteAnimation;
    animation-duration: 5sec;
    text-shadow: 2px 2px 4px orange;
}


.quotes{
    
    font-size: 25px;
    color:blueviolet;


}

.authors{
    font-size: 25px;

}

@keyframes quoteAnimation {
    from{
        margin-bottom: 40%;

    }
    to{
        margin-bottom:80%;
    }
    
}